/* Style szablonu */
body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: Arial, sans-serif;
	background-color: white;
}

#page {
	padding-top: 10px;
}

#header, .bkgColor {
	background-color: #007A29;
}

#header {
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
}

#header-content {
	position: relative;
	height: 128px;
}

#title {
	position: absolute;
	bottom: 0;
	left: 0;
}

#userData {
	position: absolute;
	right: 0;
}

#logout-icon {
	border: 0;
	vertical-align: middle;
	padding-left: 15px;
}

#pageSeparator {
	height: 2px;
	width: 100%;
	background-color: #F87171;
}

/* Kontener opakowujący jakąkolwiek zawartość na stronie. Wyznacza użytkowy obszar oraz wypośrodkowuje treść. */
div.content {
	width: 1000px;
	margin: auto;
	height: auto;
}

/* Pozostałe style */

/* Czcionka */
.font18p {
	font-size: 18px !important;
}

.font20p {
	font-size: 20px !important;
}

.font22p {
	font-size: 22px !important;
}

.font24p {
	font-size: 24px !important;
}

.font26p {
	font-size: 26px !important;
}

.font28p {
	font-size: 28px !important;
}

.font32p {
	font-size: 32px !important;
}

.font36p {
	font-size: 36px !important;
}

.font40p {
	font-size: 40px !important;
}

.font44p {
	font-size: 44px !important;
}

.font48p {
	font-size: 48px !important;
}

.font54p {
	font-size: 54px !important;
}

.wideSpacing {
	letter-spacing: 2px;
}

/* wygląd głównego elementu - ol */
ol.mainMenu {
	list-style-type: none;
	padding: 0;
	margin: 0;
	background-color: #FFF;
	font-size: 18px;
	height: 2em;
	line-height: 2em;
	text-align: center;
}

/* wygląd wszystkich elementów - a - znajdujących się w elemencie - ol */
ol.mainMenu a {
	display: block;
	text-decoration: none;
	color: #000;
	padding: 0 5px;
}

/* wygląd elementów - li - wszystkich dzieci elementu - ol */
ol.mainMenu>li {
	float: left;
	width: 150px;
	margin-left: 1px;
	background-color: #FFFFFF;
	height: 2em;
}

/* wygląd elementu - li - pierwszego dziecka elementu - ol */
ol.mainMenu>li:first-child {
	margin-left: 0;
}

/* wygląd elementów - li - wszystkich dzieci elementu - ol - po najechaniu kursorem myszki na element - li */
ol.mainMenu>li:hover {
	background-color: #EEE;
}

/* wygląd elementu - a - dziecka elementu - li - będącego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
ol.mainMenu>li:hover>a {
	color: #09C;
}

/* wygląd elementu - ul - dziecka elementu - li - będącego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
ol.mainMenu>li:hover>ul {
	display: block;
}

/* ------------------------CZĘŚĆ-ROZWIJANA-MENU------------------------ */

/* wygląd głównych rozwijanych elementów - ul */
ol.mainMenu>li>ul {
	display: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/* wygląd elementu - li - w części rozwijanej */
ol.mainMenu>li>ul>li {
	position: relative;
	background-color: #EEE;
}

/* wygląd elementu - a - w części rozwijanej */
ol.mainMenu>li>ul>li>a {
	border-top: 1px solid #FFF;
}

/* wygląd elementu - li - w części rozwijanej, po najechaniu kursorem myszki na dany element - li */
ol.mainMenu>li>ul>li:hover {
	background-color: #DDD;
}

/* wygląd elementu - a - w części rozwijanej, po najechaniu kursorem myszki na element - li */
ol.mainMenu>li>ul>li:hover>a {
	color: #09C;
}

/* Account panel */
.accountPanel {
	background: linear-gradient(#007A29, #8BEBAB);
	margin-bottom: 20px;
	border-radius: 25px;
	border: 2px solid #F87171;
}

.accountPanel p {
	color: black;
}

.accountButtons {
	font-size: 15px !important;
	margin-right: 10px;
	border-radius: 20px;
}

.right {
	float: right;
}

.left {
	float: left;
}

.textCenter {
	text-align: center;	
}