<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="connection.url">jdbc:oracle:thin:@//192.168.56.101:1521/orcl</property>
		<property name="connection.username">darek</property>
		<property name="connection.password">password</property>
		
		<property name="dialect">org.hibernate.dialect.OracleDialect</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		
		<mapping class="systemy.bankowe.dto.UserDto" />
		<mapping class="systemy.bankowe.dto.RoleDto" />
		<mapping class="systemy.bankowe.dto.deposit.Deposit" />
		<mapping class="systemy.bankowe.dto.deposit.DepositCondition" />
		<mapping class="systemy.bankowe.dto.deposit.DepositIncrements" />
		<mapping class="systemy.bankowe.dto.deposit.DepositType" />
		<mapping class="systemy.bankowe.dto.deposit.DepositVariablePercent" />
		<mapping class="systemy.bankowe.dto.deposit.Klienci" />
		<mapping class="systemy.bankowe.dto.deposit.KlientLokaty" />
		<mapping class="systemy.bankowe.dto.deposit.LokataOdsetki" />
		<mapping class="systemy.bankowe.dto.deposit.LokataTyp" />
		<mapping class="systemy.bankowe.dto.deposit.Lokaty" />
		<mapping class="systemy.bankowe.dto.deposit.LokatyWarunki" />
		<mapping class="systemy.bankowe.dto.deposit.OprocentowanieLokata" />
	</session-factory>
</hibernate-configuration>
